*

!.gitignore

## Has to be done in this idiotic way to satisfy fish completions
!alacritty/
!alacritty/alacritty.toml
!alacritty/Tokyonight_Night-custom.toml

!bat/
!bat/config

!fish/
!fish/config.fish
!fish/functions/
!fish/functions/cheat.fish
!fish/functions/info.fish
!fish/functions/ls.fish
!fish/functions/lynx.fish

!mpv/
!mpv/mpv.conf

!sway/
!sway/config

!zathura/
!zathura/zathurarc
